$textColor: rgb(44, 44, 44);
$headerTextColor: rgb(31, 31, 31);

$topHeadingColor: rgb(41, 41, 41);
$topHeadingShadowColor: rgb(218, 218, 218);

$topHeadingIslandWordColor:rgb(32, 120, 90);

$topSubheadingColor: rgb(61, 61, 61);// rgba(204, 122, 255, 0.795);
$topSubheadingShadowColor: rgb(145, 145, 145);

$topSubheading2Color: rgb(77, 77, 77);

$lastModifiedTextColor: rgb(122, 122, 122);
$lastModifiedShadowColor: rgb(209, 209, 209);

$linkColor: rgb(0, 89, 232);
$headerAnchorLinkColor: rgb(0, 89, 232);

$bodyBackgroundColor: rgb(248, 248, 248);
$contentBackgroundColor: rgb(255, 255, 255);
$tocBackgroundColor: rgb(248, 248, 248);

$boxBorderStyle: solid;
$boxBorderWidth: 1px;
$boxBorderColor: rgb(228, 228, 228);
$boxBorderRadius: 0.6rem;
$boxShadowRadius: 0.0rem;
$boxShadowColor: rgb(209, 209, 209);

$contentBorderRadius: 1.35rem;
$contentMaxWidth: 52rem;

@mixin boxBorder {
	border-style: $boxBorderStyle;
	border-width: $boxBorderWidth;
	border-color: $boxBorderColor;
	border-radius: $boxBorderRadius;
	box-shadow: 0rem 0rem $boxShadowRadius $boxShadowColor;
}

html {
	scroll-behavior: smooth;

	font-size: 18px;
	font-family: "Segoe UI", Selawik, sans-serif;
	overflow-wrap: break-word;
	line-height: 1.6em;
}

body {
	margin: 0rem auto;
	padding: 0rem;

	background-color: $bodyBackgroundColor;
}

#main-content {
	max-width: $contentMaxWidth;
	margin: 0rem auto;

	background-color: $contentBackgroundColor;

	$widthBoundary: $contentMaxWidth + 3rem;

	@media screen and (max-width: $widthBoundary) {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		padding-top: 2rem;
		padding-bottom: 1rem;
	}

	@media screen and (min-width: $widthBoundary) {
		margin-top: 1rem;
		margin-bottom: 0.5rem;

		padding-left: 2.5rem;
		padding-right: 2.5rem;
		padding-top: 3rem;
		padding-bottom: 1rem;

		@include boxBorder();
		border-radius: $contentBorderRadius;
		box-shadow: 0rem 0rem 0.2rem $boxShadowColor;
	}
}

a {
	color: $linkColor;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

h1 {
	font-size: 2em;
	font-weight: 700;

	&#top-heading {
		font-size: 2.2em;
		font-weight: 800;
		text-transform: capitalize;
		letter-spacing: 0.02ch;
		line-height: 1.4em;
		color: $topHeadingColor;
		text-shadow: 0.0ch 0.0ch 0.0ch $topHeadingShadowColor;

		text-align: center;

		margin-top: 1em;
		margin-bottom: 0.75em;
		border: none;

		span#top-heading-highlighted-word {
			color: $topHeadingIslandWordColor;
			text-shadow: 0.0ch 0.0ch 0.15ch $topHeadingShadowColor;
		}
	}
}

h2 {
	font-size: 1.5em;
	font-weight: 700;

	&#top-subheading {
		font-size: 1.45em;
		font-weight: 800;
		//text-transform: capitalize;
		//letter-spacing: 0.02ch;
		color: $topSubheadingColor;

		line-height: 1.4em;
		text-align: center;

		margin-top: 0em;
		margin-bottom: 1.25em;
		border: none;
	}

	&#top-subheading-2 {
		font-size: 1.15em;
		font-weight: 700;
		//text-transform: capitalize;
		//letter-spacing: 0.02ch;
		color: $topSubheading2Color;

		line-height: 1.4em;
		text-align: center;
		font-style: normal;

		margin-top: 0em;
		margin-bottom: 3em;
		border: none;
	}
}

h1,
h2 {
	line-height: 1.2em;

	margin-top: 1.25em;
	padding-bottom: 0.16em;
	border-bottom: 1px solid $boxBorderColor;

}

h3 {
	font-size: 1.16em;
	font-weight: 700;
	line-height: 1.2em;

	padding: 0em;
	margin-bottom: 0em;
	margin-top: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
	color: $headerTextColor;

	.header-anchor {
		color: $headerAnchorLinkColor;
		text-decoration: none;
		opacity: 0;
		transition: opacity 0.5s ease-in-out;

		position: absolute;
		left: -1.25ch;
		margin-right: 1em;
	}

	&:hover .header-anchor {
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}
}

hr {
	border-style: solid;
	border-width: 2px;
	border-color: $boxBorderColor;
	border-radius: 0em;

	background-color: $boxBorderColor;
}

p,
li {
	color: $textColor;
}

li {
	margin-bottom: 0.4em;
}

nav.table-of-contents {
	font-size: 0.97em;
	font-weight: normal;

	background-color: $tocBackgroundColor;
	padding: 0.5rem;
	border-radius: 0.5rem;
	line-height: 1.6em;

	ol {
		counter-reset: tocCounter;
		list-style-type: none;
	}

	li {
		counter-increment: tocCounter;
		margin-bottom: 0.15em;

		&::before {
			content: counters(tocCounter, ".") "  ";
		}
	}
}

pre,
code {
	background-color: $bodyBackgroundColor !important;
}

code {
	font-size: 0.88em;
	font-family: "Fira Code", monospace;
	//font-variant-ligatures: none;
	line-height: 1.5em;

	tab-size: 4;
	-moz-tab-size: 4;
}

pre.shiki code {
	font-size: 0.82em;
	white-space: pre-wrap;
}

pre.shiki,
nav.table-of-contents {
	padding: 1em;

	@include boxBorder();
}

footer {
	max-width: $contentMaxWidth + 3.5rem;
	margin: 0rem auto;

	padding: 0rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;

	#last-modified {
		font-size: 0.8em;
		font-weight: 350;

		text-align: right;
		color: $lastModifiedTextColor;
		text-shadow: 0.0ch 0.0ch 0.2ch $lastModifiedShadowColor;

		margin: 0rem;
	}
}

span
{
	&#email-address-1::before {
		content: "rotemdan"
	}
	&#email-address-2::before {
		content: "@gmail"
	}
	&#email-address-3::before {
		content: ".com"
	}
}

@import "_fonts.scss";
