html {
  scroll-behavior: smooth;
  font-size: 18px;
  font-family: "Segoe UI", Selawik, sans-serif;
  overflow-wrap: break-word;
  line-height: 1.6em;
}

body {
  margin: 0rem auto;
  padding: 0rem;
  background-color: #f8f8f8;
}

#main-content {
  max-width: 52rem;
  margin: 0rem auto;
  background-color: white;
}
@media screen and (max-width: 55rem) {
  #main-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 55rem) {
  #main-content {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e4e4;
    border-radius: 0.6rem;
    box-shadow: 0rem 0rem 0rem #eeeeee;
    border-radius: 1.35rem;
  }
}

a {
  color: #0059e8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}
h1#top-heading {
  font-size: 2.2em;
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 0.02ch;
  line-height: 1.4em;
  color: #292929;
  text-shadow: 0ch 0ch 0ch #dadada;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 3em;
  border: none;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}
h2#top-subheading {
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.4em;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 3em;
  border: none;
}

h1,
h2 {
  line-height: 1.2em;
  margin-top: 1.25em;
  padding-bottom: 0.16em;
  border-bottom: 1px solid #e4e4e4;
}

h3 {
  font-size: 1.16em;
  font-weight: 700;
  line-height: 1.2em;
  padding: 0em;
  margin-bottom: 0em;
  margin-top: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  color: #1f1f1f;
}
h1 .header-anchor,
h2 .header-anchor,
h3 .header-anchor,
h4 .header-anchor,
h5 .header-anchor,
h6 .header-anchor {
  color: #0059e8;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  left: -1.25ch;
  margin-right: 1em;
}
h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
  opacity: 0.5;
}
h1:hover .header-anchor:hover,
h2:hover .header-anchor:hover,
h3:hover .header-anchor:hover,
h4:hover .header-anchor:hover,
h5:hover .header-anchor:hover,
h6:hover .header-anchor:hover {
  opacity: 1;
}

p,
li {
  color: #2c2c2c;
}

li {
  margin-bottom: 0.4em;
}

nav.table-of-contents {
  font-size: 0.97em;
  font-weight: normal;
  background-color: #f8f8f8;
  padding: 0.5rem;
  border-radius: 0.5rem;
  line-height: 1.6em;
}
nav.table-of-contents ol {
  counter-reset: tocCounter;
  list-style-type: none;
}
nav.table-of-contents li {
  counter-increment: tocCounter;
  margin-bottom: 0.15em;
}
nav.table-of-contents li::before {
  content: counters(tocCounter, ".") "  ";
}

pre,
code {
  background-color: #f8f8f8 !important;
}

code {
  font-size: 0.88em;
  font-family: "Fira Code", monospace;
  font-variant-ligatures: none;
  line-height: 1.7em;
  -o-tab-size: 4;
     tab-size: 4;
  -moz-tab-size: 4;
}

pre.shiki code {
  font-size: 0.82em;
  white-space: pre-wrap;
}

pre.shiki,
nav.table-of-contents {
  padding: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e4e4;
  border-radius: 0.6rem;
  box-shadow: 0rem 0rem 0rem #eeeeee;
}

footer {
  max-width: 55.5rem;
  margin: 0rem auto;
  padding: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
footer #last-modified {
  font-size: 0.8em;
  font-weight: 350;
  text-align: right;
  color: #7a7a7a;
  text-shadow: 0ch 0ch 0.2ch #d1d1d1;
  margin: 0rem;
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode/FiraCode-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode/FiraCode-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode/FiraCode-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode/FiraCode-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode/FiraCode-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code VF";
  src: url("../fonts/FiraCode/FiraCode-VF.woff2") format("woff2-variations");
  /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
  font-weight: 300 700;
  font-style: normal;
}
@font-face {
  font-family: "Selawik";
  src: url("../fonts/Selawik/selawk.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Selawik";
  src: url("../fonts/Selawik/selawkb.ttf");
  font-weight: 700;
  font-style: normal;
}