$textColor: rgb(44, 44, 44);
$headerTextColor: rgb(31, 31, 31);
$lastModifiedTextColor: rgb(122, 122, 122);

$linkColor: rgb(0, 89, 232);
$headerAnchorLinkColor: rgb(0, 89, 232); //rgb(180, 58, 255);

$bodyBackgroundColor: rgb(248, 248, 248);
$contentBackgroundColor: rgb(255, 255, 255);
$tocBackgroundColor: rgb(248, 248, 248);

$boxBorderStyle: solid;
$boxBorderWidth: 1px;
$boxBorderColor: rgb(228, 228, 228);
$boxBorderRadius: 0.6em;

$contentBorderRadius: 1.35em;

$contentMaxWidth: 52em;

@mixin boxBorder {
	border-style: $boxBorderStyle;
	border-width: $boxBorderWidth;
	border-color: $boxBorderColor;
	border-radius: $boxBorderRadius;
}

html {
	scroll-behavior: smooth;

	font-size: 18px;
	font-family: "Segoe UI", Selawik, sans-serif;
	overflow-wrap: break-word;
	line-height: 1.6em;
}

body {
	margin: 0em auto;
	padding: 0em;

	background-color: $bodyBackgroundColor;
}

#main-content {
	max-width: $contentMaxWidth;
	margin: 0em auto;

	background-color: $contentBackgroundColor;

	$widthBoundary: $contentMaxWidth + 3em;

	@media screen and (max-width: $widthBoundary) {
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 2em;
		padding-bottom: 1em;
	}

	@media screen and (min-width: $widthBoundary) {
		margin-top: 1em;
		margin-bottom: 0.5em;

		padding-left: 2em;
		padding-right: 2em;
		padding-top: 3em;
		padding-bottom: 1em;

		@include boxBorder();
		border-radius: $contentBorderRadius;
	}
}

a {
	color: $linkColor;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

h1 {
	font-size: 2em;
	font-weight: 700;

	&#top-heading {
		font-size: 2.2em;
		font-weight: 800;
		text-transform: capitalize;
		letter-spacing: 0.02ch;

		line-height: 1.4em;
		text-align: center;

		margin-top: 1em;
		margin-bottom: 3em;
		border: none;
	}
}

h2 {
	font-size: 1.5em;
	font-weight: 700;

	&#top-subheading {
		font-size: 1.5em;
		font-weight: 800;
		//text-transform: capitalize;
		//letter-spacing: 0.02ch;

		line-height: 1.4em;
		text-align: center;

		margin-top: 0em;
		margin-bottom: 3em;
		border: none;
	}
}

h1,
h2 {
	line-height: 1.2em;

	margin-top: 1.25em;
	padding-bottom: 0.16em;
	border-bottom: 1px solid $boxBorderColor;
}

h3 {
	font-size: 1.16em;
	font-weight: 700;
	line-height: 1.2em;

	padding: 0em;
	margin-bottom: 0em;
	margin-top: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
	color: $headerTextColor;

	.header-anchor {
		color: $headerAnchorLinkColor;
		text-decoration: none;
		opacity: 0;
		transition: opacity 0.5s ease-in-out;

		position: absolute;
		left: -1.25ch;
		margin-right: 1em;
	}

	&:hover .header-anchor {
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}
}

p,
li {
	color: $textColor;
}

li {
	margin-bottom: 0.4em;
}

nav.table-of-contents {
	font-size: 0.97em;
	font-weight: normal;

	background-color: $tocBackgroundColor;
	padding: 0.5em;
	border-radius: 0.5em;
	line-height: 1.6em;

	ol {
		counter-reset: tocCounter;
		list-style-type: none;
	}

	li {
		counter-increment: tocCounter;
		margin-bottom: 0.15em;

		&::before {
			content: counters(tocCounter, ".") "  ";
		}
	}
}

pre,
code {
	background-color: $bodyBackgroundColor !important;
}

code {
	font-size: 0.88em;
	font-family: "Fira Code", monospace;
	font-variant-ligatures: none;
	line-height: 1.7em;

	tab-size: 4;
	-moz-tab-size: 4;
}

pre.shiki code {
	font-size: 0.82em;
	white-space: pre-wrap;
}

pre.shiki,
nav.table-of-contents {
	padding: 1em;

	@include boxBorder();
}

footer {
	max-width: $contentMaxWidth + 3.5em;
	margin: 0em auto;

	padding: 0em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.5em;

	#last-modified {
		font-size: 0.8em;
		font-weight: 350;

		text-align: right;
		color: $lastModifiedTextColor;
		margin: 0em;
	}
}

@import "_fonts.scss";
