$textColor: rgb(44, 44, 44);
$headerTextColor: rgb(31, 31, 31);
$linkColor: rgb(0, 89, 232);

$bodyBackgroundColor: rgb(248, 248, 248);
$contentBackgroundColor: rgb(255, 255, 255);
$tocBackgroundColor: rgb(248, 248, 248);

$boxBorderColor: rgb(228, 228, 228);
$contentBorderRadius: 1.5em;
$boxBorderRadius: 0.6em;

$contentMaxWidth: 52em;

html {
	scroll-behavior: smooth;

	font-size: 18px;
	font-family: "Segoe UI", Selawik, sans-serif;
	overflow-wrap: break-word;
	line-height: 1.6em;
}

body {
	margin: 0em auto;
	padding: 0em;

	background-color: $bodyBackgroundColor;
}

#main-content {
	max-width: $contentMaxWidth;
	margin: 0em auto;

	margin-top: 1em;
	margin-bottom: 0.5em;
	background-color: $contentBackgroundColor;

	$widthBoundary: $contentMaxWidth + 3em;

	@media (max-width: $widthBoundary) {
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 2em;
		padding-bottom: 1em;
	}

	@media (min-width: $widthBoundary) {
		padding-left: 2em;
		padding-right: 2em;
		padding-top: 3em;
		padding-bottom: 1em;

		border-radius: $contentBorderRadius;
		border-style: solid;
		border-width: 1px;
		border-color: $boxBorderColor;
	}
}

a {
	color: $linkColor;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

h1 {
	font-size: 2em;
	font-weight: 700;

	&#main-header {
		font-size: 2em;
		font-weight: 800;

		line-height: 1.4em;
		text-align: center;

		margin-top: 1em;
		margin-bottom: 2em;
		border: none;
	}
}

h2 {
	font-size: 1.5em;
	font-weight: 700;
}

h1,
h2 {
	line-height: 1.2em;

	margin-top: 1.25em;
	padding-bottom: 0.16em;
	border-bottom: 1px solid $boxBorderColor;
}

h3 {
	font-size: 1.16em;
	font-weight: 700;
	line-height: 1.2em;

	padding: 0em;
	margin-bottom: 0em;
	margin-top: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
	color: $headerTextColor;

	.header-anchor {
		text-decoration: none;
		opacity: 0;
		transition: opacity 0.5s, visibility 0.5s;

		position: absolute;
		left: -1.25ch;
		margin-right: 1em;
	}

	&:hover .header-anchor {
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}
}

p,
li {
	color: $textColor;
}

li {
	margin-bottom: 0.4em;
}

nav.table-of-contents {
	font-size: 0.97em;
	font-weight: normal;

	background-color: $tocBackgroundColor;
	padding: 0.5em;
	border-radius: 0.5em;
	line-height: 1.6em;

	ol {
		counter-reset: tocCounter;
		list-style-type: none;
	}

	li {
		counter-increment: tocCounter;
		margin-bottom: 0.15em;

		&::before {
			content: counters(tocCounter, ".") "  ";
		}
	}
}

pre,
code {
	background-color: $bodyBackgroundColor !important;
}

code {
	font-size: 0.88em;
	font-family: "Fira Code", monospace;
	font-variant-ligatures: none;
	line-height: 1.7em;

	tab-size: 4;
	-moz-tab-size: 4;
}

pre.shiki code {
	font-size: 0.82em;
	white-space: pre-wrap;
}

pre.shiki,
nav.table-of-contents {
	padding: 1em;

	border-radius: $boxBorderRadius;
	border-color: $boxBorderColor;
	border-style: solid;
	border-width: 1px;
}

footer {
	max-width: $contentMaxWidth + 3.5em;
	margin: 0em auto;

	padding: 0em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.5em;

	#last-modified {
		font-size: 0.8em;
		font-weight: 350;

		text-align: right;
		color: rgb(122, 122, 122);
		margin: 0em;
	}
}

///////////////////////////////////////////////////////////////////////////////////////////
//// Font definitions
///////////////////////////////////////////////////////////////////////////////////////////

@font-face {
	font-family: "Fira Code";
	src: url("../fonts/FiraCode/FiraCode-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Fira Code";
	src: url("../fonts/FiraCode/FiraCode-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Fira Code";
	src: url("../fonts/FiraCode/FiraCode-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Fira Code";
	src: url("../fonts/FiraCode/FiraCode-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Fira Code";
	src: url("../fonts/FiraCode/FiraCode-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Fira Code VF";
	src: url("../fonts/FiraCode/FiraCode-VF.woff2") format("woff2-variations");
	/* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
	font-weight: 300 700;
	font-style: normal;
}

@font-face {
	font-family: "Selawik";
	src: url("../fonts/Selawik/selawk.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Selawik";
	src: url("../fonts/Selawik/selawkb.ttf");
	font-weight: 700;
	font-style: normal;
}
