$flickrBlueColor: rgb(0, 89, 232);
$veryLightGrayColor: rgb(235, 235, 235);

html {
	scroll-behavior: smooth;

	font-size: 18px;
	font-family: "Segoe UI", Selawik, sans-serif;
	overflow-wrap: break-word;
	line-height: 1.6em;
}

body {
	margin: 0em auto;
	padding: 0em;

	background-color: rgb(250, 250, 250);
}

#main-content {
	max-width: 52em;
	margin: 0em auto;

	margin-top: 1em;
	margin-bottom: 0.5em;
	background-color: rgb(255, 255, 255);

	$widthBoundary: 55em;

	@media (max-width: $widthBoundary) {
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 2em;
		padding-bottom: 1em;
	}

	@media (min-width: $widthBoundary) {
		padding-left: 2em;
		padding-right: 2em;
		padding-top: 3em;
		padding-bottom: 1em;

		border-radius: 1.5em;
		border-style: solid;
		border-width: 1px;
		border-color: $veryLightGrayColor;
	}
}

a {
	color: $flickrBlueColor;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

h1 {
	font-size: 2em;

	&#main-header {
		font-size: 2em;
		margin-top: 0em;
		text-align: center;
		line-height: 1.4em;
	}
}

h2 {
	font-size: 1.5em;
}

h1,
h2 {
	margin-top: 1.25em;
	padding-bottom: 0.16em;
	border-bottom: 1px solid $veryLightGrayColor;
	line-height: 1.2em;
}

h3 {
	font-size: 1.16em;
	//text-decoration: underline;
	//text-decoration-color: rgb(70, 70, 70);
	//text-decoration-thickness: 2px;

	padding: 0em;
	margin-bottom: 0em;
	margin-top: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
	color:rgb(26, 26, 26);

	.header-anchor {
		text-decoration: none;
		opacity: 0;
		transition: opacity 0.5s, visibility 0.5s;

		position: absolute;
		left: -1.25ch;
		margin-right: 1em;
	}

	&:hover .header-anchor {
		opacity: 0.5;

		&:hover {
			opacity: 1.0;
		}
	}
}

p,
li {
	color: rgb(44, 44, 44);
}

li {
	margin-bottom: 0.4em;
}

nav.table-of-contents {
	font-size: 0.97em;
	background-color: rgb(248, 248, 248);
	padding: 0.5em;
	border-radius: 0.5em;
	line-height: 1.6em;

	ol {
		counter-reset: toc;
		list-style-type: none;
	}

	li {
		counter-increment: toc;
		margin-bottom: 0.15em;

		&::before {
			content: counters(toc, ".") "  ";
		}
	}
}

pre,
code {
	background-color: rgb(248, 248, 248) !important;
}

code {
	font-size: 0.88em;
	font-family: "Fira Code", monospace;
	font-variant-ligatures: none;
	line-height: 1.7em;

	tab-size: 4;
	-moz-tab-size: 4;
}

pre.shiki code {
	font-size: 0.82em;
}

pre.shiki,
nav.table-of-contents {
	white-space: pre-wrap;
	padding: 1em;
	border-radius: 0.5em;
	border-color: rgb(226, 226, 226);
	border-style: solid;
	border-width: 1px;
}

footer {
	max-width: 56em;
	margin: 0em auto;

	padding: 0em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.5em;

	#last-modified {
		color: rgb(161, 161, 161);
		font-size: 0.8em;
		text-align: right;
		margin: 0;
	}
}

///////////////////////////////////////////////////////////////////////////////////////////
//// Font definitions
///////////////////////////////////////////////////////////////////////////////////////////

@font-face {
	font-family: "Fira Code";
	src: url("../fonts/FiraCode/FiraCode-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Fira Code";
	src: url("../fonts/FiraCode/FiraCode-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Fira Code";
	src: url("../fonts/FiraCode/FiraCode-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Fira Code";
	src: url("../fonts/FiraCode/FiraCode-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Fira Code";
	src: url("../fonts/FiraCode/FiraCode-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Fira Code VF";
	src: url("../fonts/FiraCode/FiraCode-VF.woff2") format("woff2-variations");
	/* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
	font-weight: 300 700;
	font-style: normal;
}

@font-face {
	font-family: "Selawik";
	src: url("../fonts/Selawik/selawk.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Selawik";
	src: url("../fonts/Selawik/selawkb.ttf");
	font-weight: 700;
	font-style: normal;
}
